In [122]:
import pandas as pd
import numpy as np

In [123]:
pd.__version__

'2.2.2'

In [124]:
df = pd.read_csv('car_fuel_efficiency.csv')

In [125]:
#How many records are in the dataset?
df.shape[0]

9704

In [126]:
df.describe()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,num_doors,fuel_efficiency_mpg
count,9704.000000,9222.000000,8996.000000,9704.000000,8774.000000,9704.000000,9202.000000,9704.000000
mean,199.708368,3.962481,149.657292,3001.280993,15.021928,2011.484027,-0.006412,14.985243
std,49.455319,1.999323,29.879555,497.894860,2.510339,6.659808,1.048162,2.556468
min,10.000000,0.000000,37.000000,952.681761,6.000000,2000.000000,-4.000000,6.200971
25%,170.000000,3.000000,130.000000,2666.248985,13.300000,2006.000000,-1.000000,13.267459
50%,200.000000,4.000000,149.000000,2993.226296,15.000000,2012.000000,0.000000,15.006037
75%,230.000000,5.000000,170.000000,3334.957039,16.700000,2017.000000,1.000000,16.707965
max,380.000000,13.000000,271.000000,4739.077089,24.300000,2023.000000,4.000000,25.967222

In [127]:
#How many fuel types are presented in the dataset?
df['fuel_type'].nunique()

2

In [128]:
#How many columns in the dataset have missing values?
df.isnull().any().sum()

4

In [129]:
#What's the maximum fuel efficiency of cars from Asia?
df2=df[df['origin'] == 'Asia']
df2['fuel_efficiency_mpg'].max()

23.759122836520497

In [130]:
# median value of the horsepower column in the dataset
med_hp = df['horsepower'].median()
print(med_hp)

149.0

In [131]:
#Calculate the most frequent value of the same horsepower column
mfv=df['horsepower'].mode()
print(mfv)

0    152.0
Name: horsepower, dtype: float64

In [132]:
#Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step
df['horsepower'].fillna(mfv,inplace=True)

C:\Users\kshnt\AppData\Local\Temp\ipykernel_20812\2908375514.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['horsepower'].fillna(mfv,inplace=True)

In [133]:
#calculate the median value of horsepower
med_hp2 = df['horsepower'].median()
print(med_hp2)

149.0

In [134]:
#Select all the cars from Asia
df_asia=df[df['origin']=='Asia']

In [135]:
#Select only columns vehicle_weight and model_year
#Select the first 7 values
X=df_asia[['vehicle_weight','model_year']].head(7)

In [136]:
#Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX
XT=X.T

In [137]:
#Invert XTX
XTX = np.dot(XT , X)
XTX_inv = np.linalg.inv(XTX)

In [138]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200]
y=[1100, 1300, 800, 900, 1000, 1100, 1200]

In [139]:
#Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w
w = np.dot(np.dot(XTX_inv,XT),y)

In [140]:
#sum of all the elements of the result
w.sum()

0.5187709081074001